<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="connectionStringsConfiguration" type="HUtils.DBTasks.ConnectionStringsConfiguration,HUtils.DBTasks" />
  </configSections>
  <connectionStringsConfiguration defaultConnectionStringName="default">
    <connectionStrings>
      <add name="default" connectionString="Data Source=.;Initial Catalog=AWSC;Integrated Security=True;" providerName="HUtils.DBTasks.DAL.SQLDBConnection" />
      <add name="default1" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=True;" providerName="HUtils.DBTasks.DAL.SQLDBConnection" />
      <add name="adsrialto" connectionString="Data Source=.;Initial Catalog=adsrialto;Integrated Security=True;" providerName="HUtils.DBTasks.DAL.SQLDBConnection" />      
    </connectionStrings>
  </connectionStringsConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
